
:root.theme-dark {
  --main-text-color: #f1b2ce;
  --bg-img: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-color-semi-transparent: #ff007066;
  --title-color: #db00ff;
  --border-color: #ff0070;
   --lamp-visibility: visible;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #f1b2ce;
    --bg-img: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --accent-color-semi-transparent: #ff007066;
    --title-color: #db00ff;
    --lamp-visibility: visible;
    --border-color: #ff0070;
  }

  /* .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button:focus {
    border-bottom-color: var(--main-text-color);
  }

  .header__theme-menu-button_active {
    border-color: var(--accent-color);
  }

  .header::before,
  .header::after {
    border-color: var(--accent-color);
  }

  .section_title {
    color: var(--main-text-color);
  } */

