:root.theme-light {
  --main-text-color: #353430;
  --bg-img: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --accent-color-semi-transparent: #32312d66;
  --title-color: #ffc2e6ff;
  --border-color: #353430;
  --lamp-visibility: hidden;
  --title-section: #353430;
  --title-decor-color: #353430;
  --bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --accent-color-semi-transparent: #32312d66;
    --title-color: #ffc2e6ff;
    --border-color: #353430;
    --lamp-visibility: hidden;
    --title-section: #353430;
    --title-decor-color: #353430;
    --bg-color: #fff1f7;
  }
}
