.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-img);
  display: flex;
  flex-direction: column;
  gap: 30px;
  place-items: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-size: cover;
}

.main {
  display: grid;
  gap: 30px;
  padding: 10px;
}

.header {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 192px 1fr;
  grid-template-columns: 1fr;
  position: relative;
  font-family: var(--accent-font);
  padding: 10px;
}

.corners::before {
  content: "";
  display: block;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.corners::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.lamp {
  visibility: var(--lamp-visibility);
  color: var(--accent-color);
  display: flex;
  justify-content: flex-end;
  font-family: var(--accent-font), Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.lamp::after {
  content: "";
  display: block;
  font-size: 52px;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin: 8px 9px 9px 10px;
}

.title {
  color: var(--title-color);
  font-family: var(--accent-font), Arial, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-family: var(--accent-font), Arial, sans-serif;
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 23.4px;
  padding-left: 1px;
}

.images {
  display: grid;
  gap: 10px;
}

.section_paragraph {
  font-family: var(--accent-font), Arial, sans-serif;
  color: var(--main-text-color);
  line-height: 23.4px;
  font-size: var(--title-size);
  margin-bottom: 20px;
}

.section_title {
  font-family: var(--accent-font), Arial, sans-serif;
  color: var(--border-color);
  font-size: var(--title-size);
  margin-bottom: 20px;
}

.description-wrap {
  display: grid;
  align-content: center;
}

.description {
  grid-area: a;
}

.section_subtitle {
  margin-bottom: 10px;
}

.section_subsubtitle {
  font-weight: normal;
  margin-bottom: 10px;
}

.section_subsubtitle:first-of-type {
  margin-top: 20px;
}

.img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.header__theme-menu {
  display: grid;
  align-content: center;
}

.header__theme-menu-button {
  color: var(--border-color);
  font-size: var(--title-size);
  line-height: 18px;
  background-color: transparent;
  font-family: var(--accent-font), Arial, sans-serif;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  outline: none;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-semi-transparent);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  font-size: var(--title-size);
  justify-self: flex-end;
}

.footer {
  font-family: var(--accent-font);
  height: 100vh;
  width: 100%;
  font-weight: bold;
  display: grid;
  align-items: center;
  position: relative;
  text-align: center;
}

.anchor {
  text-shadow: 2px 2px 2px var(--accent-color);
  text-decoration: none;
}

.anchor:hover {
  border-bottom: 2px solid var(title-section);
}

.anchor:focus {
  outline: 1px solid var(--main-text-color);
}

/* Планшет */
@media screen and (width >= 768px) {
  .page {
    gap: 50px;
  }

  .header {
    grid-template-rows: 1fr 99px 1fr;
    grid-template-columns: 2fr;
    padding: 0;
  }

  .header__theme-menu {
    padding-inline: 20px;
    position: relative;
    top: 10px;
  }

  .corners::before {
    top: 20px;
    right: 20px;
  }

  .corners::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    gap: 80px;
    padding: 10px 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section_paragraph:last-of-type {
    margin-bottom: 0;
  }

  .lamp {
    right: 20px;
    top: 20px;
  }

  .description-wrap {
    grid-template-areas: ". a";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-inline: 20px;
    position: relative;
    bottom: 10px;
  }

  .section_imgs {
    display: grid;
    gap: 10px;
  }

  .images {
    gap: 20px;
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
  }

  .img-rise {
    grid-area: a;
  }

  .img-icecream {
    grid-area: b;
  }

  .img-audio {
    grid-area: c;
  }

  .img-books {
    grid-area: d;
  }

  .img-street {
    grid-area: e;
  }

  .img {
    block-size: 100%;
    object-fit: cover;
    inline-size: 100%;
    object-position: center;
  }

  .section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_why > .section_title,
  .section_concentration > .section_title {
    margin-block-start: 0;
  }

  .section_concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_attention {
    display: grid;
    gap: 20px;
  }

  .section_title {
    margin-bottom: 0px;
  }

  .section_attention > .section_title {
    width: 33%;
  }

  .section_articles {
    display: grid;
    gap: 20px;
  }

  .corner::before {
    top: 20px;
    right: 20px;
  }

  .corner::after {
    top: 20px;
    right: 20px;
  }
}

/* Десктоп */
@media screen and (width >= 1024px) {
  .corners::after {
    bottom: 40px;
  }

  .description-wrap {
    bottom: 5px;
  }

  .section_subsubtitle:first-of-type {
    margin-top: 20px;
  }

  .section_article {
    position: relative;
    right: 7px;
  }

  .title {
    position: relative;
    bottom: 15px;
  }

  .header__theme-menu {
    align-content: start;
    justify-content: center;
    top: 20px;
  }

  .images {
    grid-template-rows: 260px 315px 433px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .section_articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    top: 0;
  }
}
